<ngx-auth-firebaseui-login [providers]="providers"
                           (onCreateAccountRequested)="register()"
                           (onSuccess)="onSuccess($event)"
                           [resetPasswordEnabled]="true"
                           (onResetPasswordRequested)="requestResetPassword()"
                           logoUrl="https://firebasestorage.googleapis.com/v0/b/grimpunt-27c0c.appspot.com/o/icons%2Ficon-150x150.png?alt=media&token=cfbf2968-2189-4663-a84d-e11ea8154146"
                           titleText="GrimPunt"
                           orLabelText="Of"
                           forgotPasswordText="Paswoord Vergeten?"
                           dontHaveAnAccountText="Geen account?"
                           createAccountButtonText="Account aanmaken"
                           emailErrorRequiredText="U moet een email adres invullen"
                           emailErrorPatternText="Gelieve een correct email adres in te vullen"
                           passwordErrorRequiredText="U moet een paswoord invullen">
</ngx-auth-firebaseui-login>
<div class="made-by" fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 0.5em">
  <small>Gemaakt door Sammi Fux</small>
</div>
<div class="terms" fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 2em">
  <a target="_blank"
     [href]="privacyPolicyUrl">
    Privacy Policy
  </a>
</div>
