<ngx-auth-firebaseui-login [providers]="providers"
                           (onCreateAccountRequested)="register()"
                           (onSuccess)="onSuccess($event)"
                           [resetPasswordEnabled]="true"
                           (onResetPasswordRequested)="requestResetPassword()"
                           logoUrl="https://media.licdn.com/dms/image/C4D0BAQG926yTJ3-C8w/company-logo_200_200/0?e=1584576000&v=beta&t=M-8_Xwyhz0W7v2cjs3I4ujoOA0G0ovqZs2aagWnegd4"
                           titleText=""
                           orLabelText="Of"
                           forgotPasswordText="Paswoord Vergeten?"
                           dontHaveAnAccountText="Geen account?"
                           createAccountButtonText="Account aanmaken"
                           emailErrorRequiredText="U moet een email adres invullen"
                           emailErrorPatternText="Gelieve een correct email adres in te vullen"
                           passwordErrorRequiredText="U moet een paswoord invullen">
</ngx-auth-firebaseui-login>
