<ngx-auth-firebaseui-register (onLoginRequested)="login()"
                              nameText="Naam"
                              [privacyPolicyUrl]="privacyPolicyUrl"
                              titleText="ACCOUNT AANMAKEN"
                              createAccountButtonText="Account aanmaken"
                              alreadyHaveAccountText="Heeft u al een account?"
                              passwordText="Paswoord"
                              passwordConfirmationText="Nogmaals uw paswoord"
                              nameErrorRequiredText="U moet een naam invullen"
                              emailErrorRequiredText="U moet een email adres invullen"
                              emailErrorPatternText="Gelieve een correct email adres in te vullen"
                              passwordErrorRequiredText="U moet een paswoord invullen"
                              passwordErrorMatchText="De paswoorden die u heeft ingevuld zijn niet dezelfde"
                              passwordConfirmationErrorRequiredText="U moet uw paswoord nogmaals invullen ter controle">
</ngx-auth-firebaseui-register>

