<h1 mat-dialog-title>Status Updates</h1>
<mat-dialog-content>
  <mat-form-field class="status-select">
    <mat-label>Status</mat-label>
    <select matNativeControl [formControl]="selectedStatusFormControl">
      <option value="" selected></option>
      <option *ngFor="let status of statuses$ | async" [value]="status.id">
        {{ status.name }}
      </option>
    </select>
  </mat-form-field>
  <button mat-stroked-button type="button"
          class="status-select-button"
          (click)="updateStatus()">
    Update Status
  </button>
  <div>
    <h4>Statusverloop:</h4>
    <mat-chip-list class="mat-chip-list-stacked">
      <mat-chip *ngFor="let statusUpdate of statusUpdates$ | async; let i = index;"
                [color]="i === 0 ? 'accent' : undefined"
                [matTooltip]="statusUpdate.note"
                selected>
        <span *ngIf="statusUpdate.status | async as status" (click)="deleteUpdate(status, statusUpdate)">
          {{ status.name}} - {{ statusUpdate.datumStatusChange.toDate().toLocaleDateString() }}
        </span>
      </mat-chip>
    </mat-chip-list>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Terug</button>
</mat-dialog-actions>
