<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="toggleDrawer()">Meld een probleem</a>
      <a mat-list-item routerLink="/profile" (click)="toggleDrawer()">Mijn profiel</a>
      <a mat-list-item routerLink="/reports" (click)="toggleDrawer()">Meldingen Overzicht</a>
      <a mat-list-item *ngIf="(currentRole$ | async) === 'ADMIN'" routerLink="/admin" (click)="toggleDrawer()">Administrator</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="logout()">Log uit</a>
    </mat-nav-list>
    <div class="menu-footer">
      <small class="made-by">Gemaakt door Sammi Fux</small>
      <a [href]="privacyPolicyUrl">Privacy Policy</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>GrimPunt</span>
    </mat-toolbar>
    <div class="center-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
