<mat-list>
  <mat-list-item style="margin-bottom: 1em;">
    <p>Om de deze web app te installeren, klik hieronder op
      <img src="./assets/icons/share-ios.jpeg" style="display: inline; width: 2.5em" alt="deel knop"/>
      en selecteer:</p>
  </mat-list-item>
  <mat-list-item>
    <img src="./assets/icons/add-to-homescreen.jpeg" width="100%" alt="Zet op beginscherm"/>
  </mat-list-item>
  <mat-list-item>
    <button mat-raised-button style="width: 100%;" (click)="bottomSheetRef.dismiss()">Ok</button>
  </mat-list-item>
</mat-list>
