<mat-list>
  <mat-list-item style="margin-bottom: 1em;">
    <span>Om de deze web app te installeren, klik op
      <img src="https://firebasestorage.googleapis.com/v0/b/grimpunt-27c0c.appspot.com/o/icons%2Fshare-ios.jpeg?alt=media&token=4e41a8b8-bdba-43e4-beb6-54fa52d6d316" style="display: inline; width: 2.5em;" alt="deel knop"/>
      en selecteer:</span>
  </mat-list-item>
  <mat-list-item style="margin-bottom: 2em;">
    <img src="https://firebasestorage.googleapis.com/v0/b/grimpunt-27c0c.appspot.com/o/icons%2Fadd-to-homescreen.jpeg?alt=media&token=29bb1424-eabc-4cab-8f2f-e6e02429771e" width="100%" alt="Zet op beginscherm"/>
  </mat-list-item>
  <mat-list-item>
    <button mat-raised-button style="width: 100%;" (click)="bottomSheetRef.dismiss()">Ok</button>
  </mat-list-item>
</mat-list>
